.block{
    height: 50px;
    width: 50px;
}

#mydiv {
    z-index: 9;
    position: absolute;
    text-align: center;
  }
  
.mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
}

.fa-circle{
    margin-top: -50%;
    margin-left: calc(50% - 15px); 
    font-size: 30px;
}